<h<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
      <style>
      #center-node {
        opacity: 0.4;
        filter: alpha(opacity=40);
      }

      </style>
      <div class="svg-container" width="100%" height="100%" align="center">
      <svg height="100%" viewBox="0 0 100 100"></svg>

      <script>
        var artists = {{ top_artists|tojson }};

        var svg = d3.select("svg"),
          height = 100,
          width = 100,
          center_x = width / 2,
          center_y = height / 2
          big_r = (height * .9) / 2,
          theta = ((Math.PI*2) / artists.length);

        var center = svg.append('g');

        center.append('pattern')
          .attr('id', 'center_node')
          .attr('clipPathUnits', 'objectBoundingBox')
          .attr('width', "100%")
          .attr('height', "100%")
          .append('image')
          .attr('xlink:href', "")
          .attr('width', 0)
          .attr('height', 0);

        center.append('circle')
          .attr('class', 'center-bakground')
          .attr('r', big_r)
          .attr('cx', center_x)
          .attr('cy', center_y)
          .attr('fill', "#fff");

        center.append('circle')
            .attr('class', 'center_node')
            .attr('r', big_r)
            .attr('cx', center_x)
            .attr('cy', center_y)
            .attr('fill', "url(#center_node)")
            .style('opacity', .4)
            .style('filter', "alpha(opacity=40)");

        center.append('text')
            .attr('id', 'big-name')
            .attr('x', '80%')
            .attr('y', '72.5%')
            .attr('text-anchor', 'end')
            .style('font-size', 3.75)
            .style('fill', '#485256')
            .style('font-family', 'sans-serif')
            .text('');


        var lineGroups = svg.selectAll('.lines')
              .data(artists)
              .enter()
              .append('g')
              .attr('id', function (d) {
                return 'lines-' + d.id;
              })
              .attr('class', 'lines')
              .attr('display', 'none');

        var nodeGroups = svg.selectAll('.group-node')
          .data(artists)
          .enter()
          .append('g')
          .attr('class', 'group-node')
          .attr('id', function (d) {
            return 'group-' + d.id;
          })
          .attr('x', function (d, i) {
                a = theta * i;
                return (big_r * Math.cos(a)) + center_x;
              })
          .attr('y', function (d, i) {
            a = theta * i;
            return (big_r * Math.sin(a)) + center_y;
          });

        var lines = lineGroups.selectAll('.line')
              .data(function (d) { return d.related_to; })
              .enter()
              .append('line')
              .attr('class', 'line')
              .attr('point_to', function (i) { return i; })
              .attr('x1', center_x)
              .attr('x2', function (i) {
                return d3.select('#group-' + i).attr('x');
              })
              .attr('y1', center_y)
              .attr('y2', function (i) {
                return d3.select('#group-' + i).attr('y');
              })
              .style('stroke', '#485256')
              .style('stroke-width', 5);

        var patterns = nodeGroups.append('pattern')
          .attr('id', function (d) { return 'spattern-' + d.id; })
          .attr('clipPathUnits', 'userSpaceOnUse')
          .attr('width', 5.5)
          .attr('height', 5.5)
        .append('image')
          .attr('xlink:href', function (d) { return d.img.url; })
          .attr('width', function (d) {
            if (d.img.width <= d.img.height) {
              return 5.5;
            }
          })
          .attr('height', function (d) {
            if (d.img.height <= d.img.width) {
              return 5.5;
            }
          });

        var nodes = nodeGroups.append('circle')
              .attr('class', 'node')
              .on('mouseover', onMouse)
              .on('mouseout', offMouse)
              .attr('id', function (d) {
                return 'node-' + d.id;
              })
              .attr('cx', function (d, i) {
                a = theta * i;
                return (big_r * Math.cos(a)) + center_x;
              })
              .attr('cy', function (d, i) {
                a = theta * i;
                return (big_r * Math.sin(a)) + center_y;
              })
            .attr('r', 2.75)
            .attr('fill', function (d) { return 'url(#spattern-' + d.id + ')'; })
            .append('title')
              .text(function (d) { return d.name; });

        function onMouse (d) {
          svg.select('#center_node')
            .select('image')
              .attr('xlink:href', d.img.url)
              .attr('width', setCenterWidth(d.img.width, d.img.height))
              .attr('height', setCenterHeight(d.img.width, d.img.height));

          svg.select('#big-name')
              .text(d.name);

          // d3.select('#lines-' + d.id)
          //     .attr('display', 'inline');

          d.related_to.forEach( function (related) {
            selected = d3.select("#node-" + related);
            x1 = selected.attr('cx');
            x2 = center_x + ((x1 - center_x) * .8);
            y1 = selected.attr('cy');
            y2 = center_y + ((y1 - center_y) * .8);
            selected.transition()
            .attr('cx', x2)
            .attr('cy', y2);
        });
      }

        function offMouse(d) {
          d3.select('#lines-' + d.id).attr('display', 'none');

          d.related_to.forEach( function (related) {
            var group = d3.select('#group-' + related);
            var home_x = group.attr('x');
            var home_y = group.attr('y');
            var node = group.select('#node-' + related);
            node.transition()
            .attr('cx', home_x)
            .attr('cy', home_y);
          })
        }

        function setCenterWidth (width, height) {
          if (width <= height) {
            return big_r * 2;
          }
        }

        function setCenterHeight (width, height) {
            if (height <= width) {
              return big_r * 2;
            }
        }
</script>
</div>
</body>
</html>
