<h<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
      <style>

      .link {
        stroke: #aaa;
      }

      .node {
        pointer-events: all;
        stroke: none;
        stroke-width: 10px;
        padding: 5px;
      }

      </style>
      <div class="svg-container" width="100%" height="100%" align="center">
      <svg height="100%" viewBox="0 0 100 100"></svg>

      <script>
          var artists = {{ top_artists|tojson }};


          var svg = d3.select("svg"),
            height = 100,
            width = 100,
            center_x = width / 2,
            center_y = height / 2
            big_r = (height * .9) / 2,
            theta = ((Math.PI*2) / artists.length);

          var defs = svg.append('defs');
            defs.selectAll('.pattern')
            .data(artists)
            .enter()
            .append('pattern')
              .attr('id', function (d) { return d.id; })
              .attr('clipPathUnits', 'userSpaceOnUse')
              .attr('width', 5)
              .attr('height', 5)
            .append('image')
              .attr('xlink:href', function (d) { return d.img.url; })
              .attr('width', function (d) {
                if (d.img.width <= d.img.height) {
                  return 5;
                }
              })
              .attr('height', function (d) {
                if (d.img.height <= d.img.width) {
                  return 5;
                }
              });

            defs.append('pattern')
              .attr('id', 'center_node')
              .attr('clipPathUnits', 'objectBoundingBox')
              .attr('width', "100%")
              .attr('height', "100%")
              .append('image')
              .attr('xlink:href', "")
              .attr('width', function (d) {
                var w = 1, h = 2;
                if (w < h) {
                  return 50; }
              });

            svg.append('svg:circle')
              .attr('class', 'center_node')
              .attr('r', 25)
              .attr('cx', center_x)
              .attr('cy', center_y)
              .attr('fill', "url(#center_node)");

          svg.selectAll('.node')
              .data(artists)
              .enter()
              .append('svg:circle')
              .attr('class', 'node')
              .attr('r', 2.5)
              .attr('cx', function (d, i) {
                a = theta * i;
                return (big_r * Math.cos(a)) + center_x;
              })
              .attr('cy', function (d, i) {
                a = theta * i;
                return (big_r * Math.sin(a)) + center_y;
              })
              .attr('fill', function (d) { return 'url(#' + d.id + ')'; })
              .on('mouseover', function (d) {
                svg.select('#center_node')
                  .select('image')
                  .attr('xlink:href', d.img.url);
              })
              .append('title')
                .text(function (d) { return d.name; });

            function mouseOver(d) {
              d3.select(this).style("fill", "white");
            }
</script>
</div>
</body>
</html>
